@import url('https://fonts.googleapis.com/css?family=Cousine:400,700|Roboto:400,700');

$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Cousine', monopsace;
$headings-font-weight: 700;

$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 0.75rem;

$brand-primary: #f0e500;
$brand-info: #18B1F2;
$brand-danger: #A30821;
$btn-primary-color: #000;
$btn-primary-border: $brand-primary;

$link-color: #274de6;

$brand-info: #000;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$modal-content-bg: $brand-primary;
$modal-header-border-color: darken($modal-content-bg, 10%);
$modal-header-border-width: 1px;
$modal-content-border-width: 0;
$modal-content-border-color: $brand-primary;

$component-active-color: #000;

$custom-control-indicator-bg: #fff;
$custom-control-checked-indicator-bg: #000;

$dropdown-bg: #555;
$dropdown-link-color: #ccc;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: #666;

$nav-tabs-border-color: $modal-header-border-color;
$nav-tabs-active-link-hover-border-color: $modal-header-border-color;
$nav-tabs-link-hover-border-color: lighten($modal-header-border-color, 5%);
$nav-tabs-active-link-hover-color: #000;

$navbar-inverse-color:                 rgba(#fff,.5) !default;
$navbar-inverse-hover-color:           rgba(#fff,.75) !default;
$navbar-inverse-active-color:          rgba(#fff,1) !default;
$navbar-inverse-disabled-color:        rgba(#fff,.25) !default;
$navbar-inverse-toggler-border:        rgba(#fff,.1) !default;

$nav-tabs-active-link-hover-bg: $brand-primary;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px
);

$fa-font-path: '/build/font-awesome';
@import "../node_modules/font-awesome/scss/font-awesome.scss";


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/custom";

// Reset and dependencies
@import "../node_modules/bootstrap/scss/normalize";
@import "../node_modules/bootstrap/scss/print";

// Core CSS
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
//@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";

// Components
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
//@import "../node_modules/bootstrap/scss/breadcrumb";
//@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
//@import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
//@import "../node_modules/bootstrap/scss/media";
//@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/responsive-embed";
//@import "../node_modules/bootstrap/scss/close";

// Components w/ JavaScript
@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";
//@import "../node_modules/bootstrap/scss/carousel";

// Utility classes
@import "../node_modules/bootstrap/scss/utilities";
    

h1, h2,
.h1, .h2 {
  text-transform: uppercase;
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
  font-family:$font-family-sans-serif;
}


input[type="color"] {
  height: 2.3rem;
  padding: 0.2rem 0.4rem;
}

.btn {
  font-family: $headings-font-family;
  font-weight:700;
  text-transform:uppercase;
  cursor:pointer;
  padding:.575rem 1rem .425rem 1rem;
}

.btn-primary.dropdown-toggle-split {
  border-left:1px solid $modal-header-border-color;
}

.navbar-brand {
  font-family: $headings-font-family;
  font-size:1.35rem;
  text-transform: uppercase;
}

.navbar-brand a {
  text-decoration:none;
  color:#fff;
}
    
.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 3px #fff;
}

.modal .btn-link {
  color:$brand-inverse;
}

.modal a:not(.dropdown-item):not(a.btn) {
  color:$brand-inverse;
  font-weight:bold;
}

.caption-wrap.caption-wrap-preview {
    height: 280px;
    overflow-y: scroll;
}

.typeface-select {
  text-transform:uppercase;
}

.typeface-select .dropdown-menu {
  font-size:1.5rem;
}

a.nav-link:not(.active) {
  color: $gray;
  opacity:.8;
}

a.nav-link.active {
  font-weight:bold;
}

.rgb-label {
  font-family:'Cousine';
}

.screen-preview .screen {
  max-width:100%;
}
    html,body {
      background: #000;
    }

    html, body {
      height:100%;
    }

    #info {
      font-size: 20px;
    }

    #start_button {
      border: 0;
      background-color: transparent;
      padding: 0;
      color: #ccc;
    }

    .interim {
      color: #fff;
    }
    
    .caption-wrap {
      background:#000;
      min-height:100%;
    }

    .caption-wrap-real {
      overflow-y:auto;
    }

    .caption-wrap-real::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    .captions {
      min-height:100%;
      width:100%;
      line-height: 5rem;
      color: #fff;
      margin: 0 auto;
      text-transform: uppercase;
      font-size: 4em;
      font-family:'Cousine', monopsace;
    }

    .final:focus {
      outline:0;
    }


/* Blog specific */

html.blog, html.blog body {
  background:#fafafa;
}

.bg-caption {
  font-weight:normal;
  background: $brand-inverse;
  line-height:3rem;
  color:#fff;
  display:inline;
  box-shadow: -7px 0 0 0 #292b2c, 7px 0 0 0 #292b2c, 0 0 0 7px #292b2c;
}

.blog-article-list a:hover {
  text-decoration:none;
}

.blog-article-list a:hover h2 {
  text-decoration:underline;
}

.blog-article-list h2 {
  text-transform:none;
  font-family:$font-family-sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
}

.blog-article-list p {
  color:#000;
}

.blog-article-date {
  text-transform: uppercase;
  font-family: $headings-font-family;
}

html.blog h2,
html.blog h3,
html.blog h4,
html.blog h5,
html.blog h6 {
  font-family:$font-family-sans-serif;
  text-transform:none;
}

html.blog h2 {
  margin:2rem 0 1.5rem 0;
}

@include media-breakpoint-down(sm) {
  .jumbotron .display-3 {
    font-size:4rem;
  }
}

@include media-breakpoint-down(xs) {
  .jumbotron .display-3 {
    font-size:3rem;
  }

  .h2.bg-caption {
    font-size:1.5rem;
    line-height:2.5rem;
  }
}