@font-face {
  font-family: 'OpenDyslexic';
  src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/static/fonts/OpenDyslexic/OpenDyslexic-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
