<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
  <title>Web Captioner - Open event captioning in your browser</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f0e500">
  <meta name="theme-color" content="#f0e500">

  <meta property="og:url" content="https://webcaptioner.com" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Web Captioner" />
  <meta property="og:description" content="Open event captioning in your browser. Just bring a microphone." />
  <meta property="og:image" content="https://webcaptioner.com/static/img/og-logo.png" />
  <meta property="og:image:secure_url" content="https://webcaptioner.com/static/img/og-logo.png" />
  <meta property="og:image:type" content="https://webcaptioner.com/static/img/og-logo.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="1200" />
  <meta property="fb:app_id" content="1339681726086659" />

  <meta name="description" content="Open event captioning in your browser. Just bring a microphone.">


  <link href="/build/css/build.css?<%= process.env.COMMIT_ID %>" rel="stylesheet" />
</head>

<body class="" id="grid">
<div class="modal" id="onboardingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="modal-title" id="exampleModalLabel">Web Captioner</h2>
        <p>Web Captioner lets you display open event captioning in your browser. Just bring a microphone.</p>
        <div id="upgrade-alert" class="alert alert-danger collapse mb-0" role="alert">
          <p><strong>Sorry — Web Captioner currently only works in the Google Chrome web browser.</strong> Google Chrome has a speech-to-text feature that other browsers don't support at the moment.</p>
          <p class="text-right mb-2">
            <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank" class="btn btn-danger">Download Google Chrome</a>
          </p>
        </div>
<!--
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Don't show this message next time</span>
        </label>
-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Get Started</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="appearanceModal" tabindex="-1" role="dialog" aria-labelledby="appearanceModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="appearanceModalLabel">Appearance and Layout</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <form>
              <h3>Text and Background</h3>
              <div class="form-group row">
                <label for="typeface" class="col-4 col-form-label">Typeface</label>
                <div class="col-8">
                  <div class="dropdown">
                    <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="text-color" class="col-4 col-form-label">Text Color</label>
                <div class="col-8">
                  <input class="form-control" name="text-color" type="color" value="#ffffff">
                </div>
              </div>
              <div class="form-group row">
                <label for="text-size" class="col-4 col-form-label">Text Size</label>
                <div class="col-8">
                  <div class="input-group">
                    <input class="form-control" name="text-size" type="number" value="4.25" min="0.1" step="0.25">
                    <span class="input-group-addon">rem</span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="background-color" class="col-4 col-form-label">Background Color</label>
                <div class="col-8">
                  <input class="form-control" name="background-color" type="color" value="#000000">
                </div>
              </div>
              <h3>Shadow</h3>
              <div class="form-group row">
                <label for="shadow-color" class="col-4 col-form-label">Shadow Color</label>
                <div class="col-8">
                  <input class="form-control" name="shadow-color" type="color" value="#000000">
                </div>
              </div>
              <div class="form-group row">
                <label for="shadow-opacity" class="col-4 col-form-label">Opacity</label>
                <div class="col-8">
                  <div class="input-group">
                    <input class="form-control" name="shadow-opacity" type="number" value="0" min="0" max="100" step="5">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="shadow-x-position" class="col-4 col-form-label">X Position</label>
                <div class="col-8">
                  <div class="input-group">
                    <input class="form-control" name="shadow-x-position" type="number" value="0" step="0.25">
                    <span class="input-group-addon">rem</span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="shadow-y-position" class="col-4 col-form-label">Y Position</label>
                <div class="col-8">
                  <div class="input-group">
                    <input class="form-control" name="shadow-y-position" type="number" value="0" step="0.25">
                    <span class="input-group-addon">rem</span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="shadow-blur" class="col-4 col-form-label">Blur</label>
                <div class="col-8">
                  <div class="input-group">
                    <input class="form-control" name="shadow-blur" type="number" value="0" min="0" step="0.25">
                    <span class="input-group-addon">rem</span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="shadow-spread" class="col-4 col-form-label">Spread</label>
                <div class="col-8">
                  <div class="input-group">
                    <input class="form-control" name="shadow-spread" type="number" value="0" step="0.25">
                    <span class="input-group-addon">rem</span>
                  </div>
                </div>
              </div>
              <h3>Layout</h3>
              <div class="form-group row">
                <label for="shadow-color" class="col-4 col-form-label">Chroma Key Color</label>
                <div class="col-8">
                  <input class="form-control" name="chroma-key-color" type="color" value="#000000">
                </div>
              </div>
              <div class="form-group row">
                <label for="shadow-color" class="col-4 col-form-label">Status Bar</label>
                <div class="col-8">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      Minimize status bar during captioning
                    </label>
                  </div>
                </div>
              </div>
              
              <div class="form-group row">
                <label for="shadow-color" class="col-4 col-form-label">Text Layout</label>
                <div class="col-8">
                  <button class="btn btn-info"><i class="fa fa-expand" aria-hidden="true"></i> Edit Layout</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">

            <div class="card">
              <div class="card-header">
                Preview
              </div>
              <div class="card-block appearance-preview">
                <p class="caption-wrap">Web Captioner lets you display open event captioning in your browser. Just bring a microphone.</p>
              </div>
            </div>
          </div>
        </div>
<!--
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Don't show this message next time</span>
        </label>
-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-info">Save</button>
      </div>
    </div>
  </div>
</div>

  <div class="caption-wrap">
    <div id="info" style="visibility: visible;">
      <p id="info_speak_now" style="display:none">
        Now listening...
      </p>
      <p id="info_no_speech" style="display:none">
        No speech was detected. You may need to adjust your <a href="https://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone
          settings</a>.
      </p>
      <p id="info_no_microphone" style="display:none">
        No microphone was found. Ensure that a microphone is installed and that
        <a href="https://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
          microphone settings</a> are configured correctly.
      </p>
      <p id="info_allow" style="display:none">
        Click the "Allow" button above to enable your microphone.
      </p>
      <p id="info_denied" style="display:none">
        Permission to use microphone was denied.
      </p>
      <p id="info_blocked" style="display:none">
        Permission to use microphone is blocked. To change, go to chrome://settings/contentExceptions#media-stream
      </p>
      <p id="info_upgrade" style="display:none">
        Web Speech API is not supported by this browser. Upgrade to <a href="https://www.google.com/chrome">Chrome</a>          version 25 or later.
      </p>
    </div>
    <div id="results" style="color:#fff">
      <span class="final" id="final_span" contenteditable="true"></span> <span class="interim" id="interim_span"></span>
    </div>
  </div>

<nav class="navbar fixed-bottom navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">
    <img src="/static/img/logo.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="Web Captioner" />
    Web Captioner
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li id="audioLevelWrap" hidden>
        <div class="row mr-3" style="width:450px">
          <div class="col">
            <span id="clippingMessage" hidden class="navbar-text text-white bg-danger px-3">
              <i class="fa fa-exclamation-triangle pr-1" aria-hidden="true"></i> Audio is too loud
            </span>
            <span id="lowLevelMessage" hidden class="navbar-text text-white bg-danger px-3">
              <i class="fa fa-exclamation-triangle pr-1" aria-hidden="true"></i> Audio is too quiet
            </span>
          </div>
          <div class="col">
            <div id="meterWrap" class="progress" style="margin-top:.7rem">
              <div id="meter" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" onclick="clear_saved()">Clear</a>
      </li>
      -->
      <li class="nav-item ml-3">
        <div class="btn-group dropup">
          <button type="button" class="btn btn-primary" onclick="startButton(event)" id="startButton">Start Captioning</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#appearanceModal">Edit Appearance and Layout</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
  <script src="/build/js/build.js?<%= process.env.COMMIT_ID %>"></script>
  
  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)    
}, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'REMOVED', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>